@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera - but NOT for inputs */
*:not(input):not(textarea):not(select)::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox - but NOT for inputs */
*:not(input):not(textarea):not(select) {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* Event description scrollbar */
.event-description-scroll {
  scrollbar-width: thin;
  scrollbar-color: #324d67 transparent;
}

.event-description-scroll::-webkit-scrollbar {
  width: 4px;
  display: block;
}

.event-description-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.event-description-scroll::-webkit-scrollbar-thumb {
  background-color: #324d67;
  border-radius: 4px;
}

.event-description-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #92adc9;
}
